<header>
    <a href="/" class="logo">
        <h2>Andr-ll</h2>
        <img src="/img/code.ico" alt="">
    </a>
    <nav>
        <a href="/">Main page</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/not-found">404 Test</a>
    </nav>
</header>