<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome.css">
    <link rel="stylesheet" href="/fonts/regular.css">
    <link rel="stylesheet" href="/fonts/solid.css">
    <link rel="stylesheet" href="/fonts/brands.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="/img/code.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    {{{style}}}
    {{!-- SEO --}}
    <title>{{{title}}}</title>
    <meta property="fb:app_id" content="449390386346299">
    <meta name="description" content="Andr-ll web-developer portfolio. Hope you can find something interesting for yourself here!">
    <meta name="keywords" content="web, react, web-site, сайт, create, создать сайт, node, landing page, лендинг, seo">    
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="Andr-ll web-developer portfolio. Hope you can find something interesting for yourself here!">
    <meta property="og:image" content="https://andrll.herokuapp.com/img/code.ico">
    <meta property="og:image:height" content="150">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://andrll.herokuapp.com">
    <link rel="canonical" href="https://andrll.herokuapp.com">
</head>