.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    transition: background-color 0.5s ease-in-out;

    h1 {
        margin-top: 60px;
        margin-bottom: 10px;
        position: relative;
        font-size: 38px;
        font-weight: 400;
        font-family: 'Source Code Pro', monospace;

        &:after {
            content: '_';
            color: orange;
            position: absolute;
            right: -20px;
            animation: blink .9s infinite;
        }
    }

    .main-info {
        margin: 40px auto;
    }

    button {
        border: 1px solid black;
        padding: 10px 15px;
        border-radius: 10px;
        transition: color 0.5s ease;
        transition: background-color 0.5s ease;

        &:hover {
            color: white;
            background-color: blue;
        }
    }

    form {
        margin-top: 20px;
        width: 600px;
        max-width: 600px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        h4 {
            margin-bottom: 15px;
        }

        button {
            font-size: 14px;
            padding: 5px 15px;
        }

        .fields {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            input:first-child {
                margin-bottom: 30px;
            }
        }

        .inputs {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 20px;
        }

        textarea {
            min-height: 150px;
            width: 250px;
            font-family: "Lexend", sans-serif;
            letter-spacing: 1px;
            max-width: 300px;
            max-height: 150px;
            min-width: 200px;
        }

        .error {
            color: red;
            margin-top: 10px;
        }

        .loading,
        .success {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            background-color: white;
            z-index: 2;
        }

        .loading {
            animation: appear 2s ease infinite;
        }
    }
}

@keyframes blink {
    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes appear {
    from {
        color: white;
    }
    50% {
        color: black;
    }
    to {
        color: white;
    }
}

@media (max-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px auto;

        h1 {
            max-width: 98vw;
            margin-top: 20px;
            margin-bottom: 10px;
            position: relative;
            font-size: 22px;
            font-weight: 400;
            font-family: 'Source Code Pro', monospace;
    
            &:after {
                content: '_';
                color: orange;
                position: absolute;
                right: -12px;
                animation: blink .9s infinite;
            }
        }

        .main-info {
            margin: 40px auto;
        }

        button {
            border: 1px solid black;
            padding: 15px 20px;
            font-size: 16px;
            border-radius: 10px;
            transition: color 0.5s ease;
            transition: background-color 0.5s ease;

            &:hover {
                color: white;
                background-color: blue;
            }
        }

        form {
            margin-top: 10px;
            width: 100%;
            max-width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            h4 {
                margin-bottom: 15px;
                font-size: 22px;
            }

            button {
                font-size: 20px;
                padding: 15px 30px;
            }

            .fields {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                input:first-child {
                    margin-bottom: 30px;
                }
            }

            .inputs {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: unset;
                margin-bottom: 30px;

                input {
                    width: 250px;
                    font-size: 16px;
                }
            }

            textarea {
                min-height: 150px;
                width: 250px;
                letter-spacing: 1px;
                max-width: 250px;
                max-height: 150px;
                min-width: 250px;
                font-size: 16px;
                font-family: "Lexend", sans-serif;
            }

            .error {
                color: red;
                margin-top: 10px;
                font-size: 18px;
            }

            .loading,
            .success {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;
                background-color: white;
                z-index: 2;
                text-align: center;
                font-size: 18px;
            }

            .loading {
                animation: appear 2s ease infinite;
            }
        }
    }
}
