<div class="container">
    <h2>My name is Andrey and I’m a junior frontend developer.</h2>
    <h3>
        My developer's way started in September
        2020. Since that time I got knowledge and experience in:
    </h3>
    <ul>
        <li>HTML5</li>
        <li>CSS3 (SASS, flex, grid)</li>
        <li>JavaScript (ES6, Typescript)</li>
        <li>React.js (Hooks, Redux, Redux-Thunk)</li>
        <li>Node.js (Express.js, PostgreSQL, MongoDB, TypeORM, Mongoose, socket.io)</li>
    </ul>
    <h4>I'm interested in new collaborations, so feel free to contact me! ;)</h4>
</div>