<div class="container">
    <h2 class="label">My name is Andrey and I’m a junior fullstack developer.</h2>
    <h3>
        I had decided to become a developer in September
        2020. Since that time I got knowledge and experience in:
    </h3>
    <ul>
        <li>HTML5, CSS3 (SASS, flex, grid, animation)</li>
        <li>JavaScript (ES6, Typescript)</li>
        <li>React.js (Hooks, Redux, Redux-Thunk)</li>
        <li>Node.js (Express.js, PostgreSQL, MongoDB, TypeORM, Mongoose, socket.io)</li>
    </ul>
    <h4>I'm interested in new collaborations, so feel free to contact me! :)</h4>
</div>