<div class="container">
    <h1>Hello :)</h1>
    <form action="">
        <h4>Contact me!</h4>
        <div class="fields">
            <div class="inputs">
                <input type="text" name="name" placeholder="Name" maxlength="20">
                <input type="email" name="email" placeholder="Email" maxlength="40">
            </div>
            <textarea type="text" name="message" placeholder="Message" maxlength="200"></textarea>
        </div>
        <button type="submit">Send!</button>
    </form>
</div>