<div class="container">
    <h1 id="banner"></h1>
    <div class="about">
        <h2>Hi! My name is Andrey and I'm a junior fullstack developer.</h2>
        <a class="button" href="/about">More about me</a>
    </div>
    <div class="projects">
        <h3>Check out my</h3>
        <a href="/projects">projects</a>
    </div>
    <form>
        <h4>Have any questions or ideas?</h4>
        <h3>Contact me!</h3>
        <div class="fields">
            <div class="inputs">
                <input type="text" name="name" placeholder="Your Name" maxlength="20" inputmode="email">
                <input type="email" name="email" placeholder="Your Email" maxlength="40" inputmode="email">
            </div>
            <textarea type="text" name="message" placeholder="Message" maxlength="200" inputmode="email"></textarea>
        </div>
        <button type="submit">Send!</button>
    </form>
</div>