<h2 class="label">{{{project.name}}}</h2>

<div class="container">

    <img src="{{{project.imgUrl}}}" alt="">
    <div class="description">
        <p>{{project.description}}</p>
        <div class="links">
            <a href="/projects" class="back">Go Back</a>
            <a href="{{{project.link}}}" target="_blank" class="visit">Visit the site</a>
        </div>
    </div>


</div>